{% extends "courses/base.html" %}

{% block content %}
    <div class="page-header">
    <h1>{{ course.title }} ({{ course.code }})</h1>
    </div>
    <p class="lead">Read more about this course <a href="{{ course.url }}" target="_blank">here</a>.</p>
    <p class="lead">Submit a review about this course <a href="{% url 'courses:course_feedback' course.id %}">here</a>.</p>

    {% if course_feedbacks %}


            <table class="table">
            <thead>
            <tr>
                <th>Score</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
                {% for feedback in course_feedbacks %}
                    <tr>
                        <td>{{ feedback.score | floatformat:2 }}</td>
                        <td>{{ feedback.comment }}</td>

                    </tr>
                {% endfor %}
            </tbody>
            </table>

    {% else %}
        <p>No feedback has been given for this course yet.</p>
    {% endif %}
{% endblock %}