{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'courses/images/favicon.ico' %}"/>
<title>Unicoursebook</title>

<h1>{{ course.title }} ({{ course.code }})</h1>
<p>Read more about this course <a href="{{ course.url }}" target="_blank">here</a>.</p>
<p>Submit a review about this course <a href="{% url 'courses:course_feedback' course.id %}">here</a>.</p>

{% if course_feedbacks %}

<ul>
    <table>
    {% for feedback in course_feedbacks %}
        <tr>
            <td>{{ feedback.score }}</td>
            <td>{{ feedback.comment }}</td>

    </tr>
{% endfor %}
    </table>
</ul>
{% else %}
    <p>No feedback has been given for this course yet.</p>
{% endif %}