<!DOCTYPE html>
<html>

{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'courses/images/favicon.ico' %}"/>

    <title>Unicoursebook</title>
    <body>
        <h1>Login</h1>

        <form id="login_form" method="post"  action="{% url 'courses:user_login' %}">
            {% csrf_token %}

            {% if next_url %}
                <input type="hidden" name="next_url" value="{{ next_url }}"/>
            {% endif %}

            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

       <p>New user? <a href="{% url 'courses:user_register' %}">Register now!</a></p>
    </body>
</html>