{% extends "courses/base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Register</h1>
    </div>

    <p class="lead">UniCourseBook is free!</p>

{#    {% if valid == False %}#}
{#        <p class="lead">Registration information invalid</p>#}
{#    {% endif %}#}
    <form class="form-horizontal" id="user_form" method="post" action="{% url 'courses:user_register' %}"
          role="form">

        {% csrf_token %}

        {% for field in user_form %}

            {% if field.errors %}
                <div class="form-group error">
                    <label class="control-label col-sm-2">{{ field.label }}</label>

                    <div class="controls col-sm-10">{{ field }}
                        <span class="help-inline text-danger">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ field.label }}</label>

                    <div class="controls col-sm-10">
                        {{ field }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>

{% endblock %}