<!DOCTYPE html>
<html>

{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'courses/images/favicon.ico' %}"/>

<title>Unicoursebook</title>
    <body>
        <h1>Register with UniCourseBook</h1>

        <form id="user_form" method="post" action="{% url 'courses:user_register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>

    </body>
</html>