{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'courses/images/favicon.ico' %}"/>

<title>Unicoursebook</title>
<h1>{{ school.title }}</h1>
<p>Read more about the school <a href="{{ school.url }}" target="_blank">here</a>.</p>

{% if courses %}
<ul>
{% for course in courses %}
    <li>
    <a href="{% url 'courses:course_detail' course.id %}"> {{ course.title }} ({{ course.code }})</a>
    </li>
{% endfor %}
</ul>
{% else %}
    <p>No courses have been defined for this school.</p>
{% endif %}