{% extends "courses/base.html" %}

{% block content %}
    <div class="page-header">
    <h1>{{ school.title }}</h1>
    </div>


    <p class="lead">Read more about the school <a href="{{ school.url }}" target="_blank">here</a>.</p>

    {% if courses %}
        <table class="table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>
                        <a href="{% url 'courses:course_detail' course.id %}"> {{ course.title }}
                            ({{ course.code }})</a>
                    </td>
                    <td align="right">{{ course.score | floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No courses have been defined for this school.</p>
    {% endif %}

{% endblock %}




