{% extends "courses/base.html" %}

{% block content %}

    <div class="page-header">
        <h1>University of Edinburgh</h1>
    </div>

    {% if schools %}


        <table class="table">
            <thead>
            <tr>
                <th>School</th>

            </tr>
            </thead>
            <tbody>
            {% for school in schools %}
                <tr>
                    <td><a href="{% url 'courses:school_detail' school.id %}">{{ school.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No schools have been defined.</p>
    {% endif %}

{% endblock %}